name: Deploy MkDocs Site

on:
  push:
    branches:
      - main  
  workflow_dispatch:
    
permissions:  # <-- 添加此部分
  contents: write
  pages: write
  id-token: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0 # 确保获取所有历史，用于版本信息

      # 安装 Python 环境
      - uses: actions/setup-python@v5
        with:
          python-version: 3.x

      # 安装 MkDocs 和 Material 主题
      - run: pip install mkdocs mkdocs-material

      # 使用 Material for MkDocs 的 GH Actions 来构建和部署网站
      - run: mkdocs gh-deploy --force
